.password-output {
  background-color: var(--DARK_GREY);
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: var(--DEFAULT_SPACING) 0;
  padding: var(--DEFAULT_SPACING);
  position: relative;
  align-items: center;
}

.password-output-text {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}
.password-copied-text-and-button {
  display: flex;
  width: 100px;
  position: absolute;
  z-index: 999;
  right: 15px;
  top: 17px;
  color: var(--NEON_GREEN);
}
.password-copy-button {
  outline: none;
  background: none;
  border: 0;
  width: 24px;
  height: 21px;
  color: var(--NEON_GREEN);
}
.password-copy-button:hover {
  stroke: var(--ALMOST_WHITE);
}
.password-copy-button:disabled {
  opacity: 0.3;
}
.password-copied-text {
  color: var(--NEON_GREEN);
  margin-top: 3px;
  margin-right: 1em;
}
