.password-generator-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 63px;
  height: 540px;
}
.password-generator-caption {
  text-align: center;
  color: var(--GREY);
  font-size: 16px;
}
.pg-lower-container {
  background-color: var(--DARK_GREY);
  height: 423px;
  padding: var(--DEFAULT_SPACING);
}
