.password-generator-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 63px;
  height: 540px;
}
.password-generator-caption {
  text-align: center;
  color: var(--GREY);
  font-size: 16px;
}
.pg-lower-container {
  background-color: var(--DARK_GREY);
  height: 423px;
  padding: var(--DEFAULT_SPACING);
}

.password-generate-button {
  width: 100%;
  height: 56px;
  background-color: var(--NEON_GREEN);
  font-family: inherit;
  font-size: 16px;
  color: var(--DARK_GREY);
}
.password-generate-button:hover {
  background-color: transparent;
  border: 2px solid var(--NEON_GREEN);
  color: var(--NEON_GREEN);
}
.password-generate-button .arrow:hover {
  fill: var(--NEON_GREEN);
}
.arrow {
  margin-left: 1em;
}

.arrow svg {
  transform: rotate(180deg);
}
