:root {
  /* color variables */

  --RED: #f64a4a;
  --ORANGE: #fb7c58;
  --YELLOW: #f8cd65;
  --NEON_GREEN: #a4ffaf;
  --ALMOST_WHITE: #e6e5ea;
  --GREY: #817d92;
  --DARK_GREY: #24232c;
  --VERY_DARK_GREY: #18171f;

  /* sizing variables */

  --DEFAULT_SPACING: 16px;

  --SLIDER_THUMB_SIZE: 23px;
  --TRACK_HEIGHT: 8px;
  --SLIDER_WIDTH: 100%;
  --THUMB_Y_ADJUST: -8px;

  /* Progress percentage - for controlling the progress color on range input in webkit browsers */
  --PROGRESS_PCT: 0;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  background-color: var(--VERY_DARK_GREY);
  color: var(--ALMOST_WHITE);
}
